## Final Project Data Wrangling - Happiness Over Time

### Import Packages

In [2]:
import numpy as np
import pandas as pd
from functools import reduce
import seaborn as sns

### Plan
1. Import happiness dataset for each year
2. Merge datasets

## Step 1 Import World Happiness Data Set

In [3]:
Happiness2015 = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2015.csv")
Happiness2016 = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2016.csv")
Happiness2017 = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2017.csv")
Happiness2018 = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2018.csv")
Happiness2019 = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2019.csv")
Happiness2020 = pd.read_csv("C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Possible Data Sets/World Happiness Report w 2020/2020.csv")

In [4]:
Happiness2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
Happiness2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [6]:
Happiness2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [7]:
Happiness2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [8]:
Happiness2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [9]:
Happiness2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [10]:
Happiness2015['2015'] = Happiness2015['Happiness Score']
Happiness2016['2016'] = Happiness2016['Happiness Score']
Happiness2017['2017'] = Happiness2017['Happiness.Score']
Happiness2018['2018'] = Happiness2018['Score']
Happiness2019['2019'] = Happiness2019['Score']
Happiness2020['2020'] = Happiness2020['Ladder score']

In [11]:
Happiness2018['Country'] = Happiness2018['Country or region']
Happiness2019['Region'] = Happiness2019['Country or region']
Happiness2020['Country'] = Happiness2020['Country name']
Happiness2020['Region'] = Happiness2020['Regional indicator']

In [12]:
Happiness2015['HappinessScore'] = Happiness2015['Happiness Score']
Happiness2016['HappinessScore'] = Happiness2016['Happiness Score']
Happiness2017['HappinessScore'] = Happiness2017['Happiness.Score']
Happiness2018['HappinessScore'] = Happiness2018['Score']
Happiness2019['HappinessScore'] = Happiness2019['Score']
Happiness2020['HappinessScore'] = Happiness2020['Ladder score']

In [13]:
Happiness2015['Year'] = '2015'
Happiness2016['Year'] = '2016'
Happiness2017['Year'] = '2017'
Happiness2018['Year'] = '2018'
Happiness2019['Year'] = '2019'
Happiness2020['Year'] = '2020'

In [14]:
Happiness2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,2020,Country,Region,HappinessScore,Year
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,...,0.961271,0.662317,0.159670,0.477857,2.762835,7.8087,Finland,Western Europe,7.8087,2020
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,0.979333,0.665040,0.242793,0.495260,2.432741,7.6456,Denmark,Western Europe,7.6456,2020
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,...,1.040533,0.628954,0.269056,0.407946,2.350267,7.5599,Switzerland,Western Europe,7.5599,2020
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,...,1.000843,0.661981,0.362330,0.144541,2.460688,7.5045,Iceland,Western Europe,7.5045,2020
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,...,1.008072,0.670201,0.287985,0.434101,2.168266,7.4880,Norway,Western Europe,7.4880,2020

In [15]:
Happiness2015_v2 = Happiness2015[['Country', 'Region', 'Year', 'HappinessScore']].copy()
Happiness2016_v2 = Happiness2016[['Country', 'Region', 'Year', 'HappinessScore']].copy()
Happiness2017_v2 = Happiness2016[['Country', 'Region', 'Year', 'HappinessScore']].copy()
Happiness2018_v2 = Happiness2016[['Country', 'Region', 'Year', 'HappinessScore']].copy()
Happiness2019_v2 = Happiness2016[['Country', 'Region', 'Year', 'HappinessScore']].copy()
Happiness2020_v2 = Happiness2016[['Country', 'Region', 'Year', 'HappinessScore']].copy()

## Step 2 Merge Happiness Data Sets for All Years (6)

In [16]:
dfs = [Happiness2015_v2, Happiness2016_v2,Happiness2017_v2, Happiness2018_v2, Happiness2019_v2, Happiness2020_v2 ]
HappinessAll = reduce(lambda left,right: pd.merge(left,right,on='Country', how='outer'), dfs).fillna('void')

In [17]:
HappinessAll = pd.concat([Happiness2015_v2, Happiness2016_v2,Happiness2017_v2, Happiness2018_v2, Happiness2019_v2, Happiness2020_v2 ])

In [24]:
HappinessAll

         Country                           Region  Year  HappinessScore
0    Switzerland                   Western Europe  2015           7.587
1        Iceland                   Western Europe  2015           7.561
2        Denmark                   Western Europe  2015           7.527
3         Norway                   Western Europe  2015           7.522
4         Canada                    North America  2015           7.427
..           ...                              ...   ...             ...
152        Benin               Sub-Saharan Africa  2016           3.484
153  Afghanistan                    Southern Asia  2016           3.360
154         Togo               Sub-Saharan Africa  2016           3.303
155        Syria  Middle East and Northern Africa  2016           3.069
156      Burundi               Sub-Saharan Africa  2016           2.905

[943 rows x 4 columns]

In [21]:
for col in HappinessAll.columns: 
    print(col)

Country
Region
Year
HappinessScore

In [25]:
HappinessAll.describe()

       HappinessScore
count      943.000000
mean         5.381104
std          1.139200
min          2.839000
25%          4.415000
50%          5.303000
75%          6.269000
max          7.587000

Export to excel

In [85]:
HappinessAll.to_excel(r'C:/Users/krist/Documents/2020 Bethel Tech/Final Project/Data Wrangling/HappinessAll_File3.xlsx', index = False)